<mat-card>

  <h3 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <mat-icon>zoom_out_map</mat-icon>
    {{description}}
  </h3>
<form [formGroup]="buttonForm">
  <mat-dialog-content>
    <mat-form-field color="warn" class="underline">
      <input formControlName="buttonName" matInput type="text" placeholder="Enter Button Name" required>
      <mat-hint>Max 8 characters</mat-hint>
    </mat-form-field>
  </mat-dialog-content>

  <mat-card-content>
    <mat-form-field color="warn" class="underline">
      <mat-select matNativeControl formControlName="buttonDivider">
        <mat-option *ngFor="let button of buttons" [value]="button.dividerValue" [disabled]="!buttonForm.valid" 
        (click)="addDivider(button.dividerValue)">
          {{button.title}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</form>

  <mat-card-actions>
    <button mat-stroked-button color="warn" [disabled]="!buttonForm.valid" (click)="addButton()">Accept</button>
    <button mat-stroked-button color="warn" (click)="close()">Cancel</button>
  </mat-card-actions>

</mat-card>

<p>Form Status: {{buttonForm.status}}</p>
